<div class="container"
    style="margin: 0 auto; width: 500px; height: 300px; display: flex; flex-direction: column; align-items: center; margin-top: 180px;">
    <div style="display: flex; ">
        <div class="username" style="margin-right: 30px;">
            <input class="username-input" type="text" style="width: 200px; border-radius: 5px; height: 40px; border: 1px solid lightgray;">
        </div>
        <div class="password">
            <input class="password-input" type="password" style="width: 200px; border-radius: 5px; height: 40px; border: 1px solid lightgray;">
        </div>
    </div>
    <div class="signin">
        <input (click)="login()" class="signin-btn" type="button" value="sign in" style="width: 444px; height: 44px; margin-top: 30px; border-radius: 5px; border: 1px solid lightgreen; background-color: white;">
    </div>
</div>